body{
  background-color:black;
}

.buscador{
position: fixed;
margin-top: -15%;
}

.lognetflix{
  padding-left: 10%;
}

.sesion{
  margin-top: -5%;
  padding-bottom: 5%;
}

.categorias{
  display: flex;
  padding-top: 3%;
  margin:15%;
  background-image: url(Imagenes/fondoestrellas.jpg);
}

.foto{
  width: 300px;
  height: 500px;
}

.hola{
  width: 15%;
}

.bin{
  margin-top: 20px;
  margin-left: 7%;
  margin-bottom: 100px;
}

.capitanamarvel{
  margin-top: 20px;
  margin-left: 7%;
  margin-bottom: 100px;
}

.mula{
  margin-top: 600px;
  margin-left: -52%;
}

.escaperoom{
  margin-top: 600px;
  margin-left: 100px;
}

.niñorey{
  margin-top: 1200px;
  margin-left:  -700px;
}

.nosotros{
  margin-top: 1200px;
  margin-left: 100px;
}


.social{
  width: 80px;
  height: 80px;
}

.redessociales{
  border: solid 10px white;
  border-radius: 25px;
  position:fixed;
  margin-left:90%;
  padding-right:10px;
}

.box{
    margin-top: -8%;
}

footer	{
	background-color:rgba(120,120,120, .5);
	line-height:3;
	width:100%;
	text-align:center;
	color:white;
	}

label{
  margin-top: 100%;
}

form{
  margin-bottom:30px;
  margin-left: 35%;
}

button{
  border-radius:5px;
  width: 210px;
  height: 40px;
  border-color: red;
  color:white;
  background-color: red;
  margin-left: 80%;
  margin-top: -100px;
}

.container-4{
  overflow: hidden;
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
}

.container-4 input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #fff;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
   color: #65737e;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }

  #lista1 ul {
   list-style:none;
}

#lista1 ul li {
   font-family:Georgia,serif,Times;
   font-size:18px;
}

#lista1 ul li a {
   display:block;
   width:300px;
   height:28px;
   background-color:#262626;
   border-left:5px solid #222;
   border-right:5px solid #222;
   padding-left:10px;
   text-decoration:none;
   color:white;
   padding-left: 5%;
   background-image: url(Imagenes/fondoestrellas.jpg);
}

#lista1 ul li a:hover {
   -moz-transform:rotate(-5deg);
   -moz-box-shadow:10px 10px 20px #000000;
   -webkit-transform:rotate(-5deg);
   -webkit-box-shadow:10px 10px 20px #000000;
   transform:rotate(4deg); box-shadow:10px 10px 20px #000000;
   margin-left: 10px;
}
